<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app2.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <label><input type="checkbox" ng-model="showOnlyWithP"> Показувати лише країни з буквою 'п'</label>
    <ul>
        <li ng-repeat="country in countries" ng-if="!showOnlyWithP || country.name.indexOf('п') !== -1">{{country.name}}</li>
    </ul>
    <a href="index.html">На головну</a>
</body>
</html>
